%p#notice= notice

%h4 Desired total
.total
  = format_cents_as_dollars(@menu.total)
%h4 Items
%ul.menu
  - @menu.items.each do |item, price|
    %li
      %span.column
        = item
      %span.column
        = format_cents_as_dollars(price)
%h4 Solution
- if @solution
  %ul.solution
    - @solution.each do |item|
      %li
        %span.column
          = item
        %span.column
          = format_cents_as_dollars(@menu.items[item])
    %li
      %hr
      %li
      %span.column
        %h5 Total
      %span.column
        %strong
          = format_cents_as_dollars(@menu.total)

- else
  Sorry, there's no way to get that total with these items.
.retry
  .btn
    = link_to 'Try another menu', new_menu_path
